@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-50 gradient-custom-3">
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2 class="text-uppercase text-center">Login</h2>

                            <form method="post" asp-controller="Home" asp-action="Login">


                                <div class="form-outline ">
                                    <span class="text-danger">@TempData["errorUsername"]</span>
                                    <input type="email" id="form3Example3cg" name="Email" class="form-control" />
                                    <label class="form-label" for="form3Example3cg">Your Email</label>
                                </div>

                                <div class="form-outline ">
                                    <span class="text-danger">@TempData["errorPassword"]</span>
                                    <input type="password" id="form3Example4cg" name="Password" class="form-control" />
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                </div>

                              

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block gradient-custom-4 text-light">
                                        Login
                                    </button>
                                </div>

                              
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>