@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SimpleCrud.ViewModel.UpdateVm

<form class="row g-3" enctype="multipart/form-data" asp-controller="Home" asp-action="Update">
    <label class="text-center">General Information</label>
    <input type="hidden" class="form-control" asp-for="Id" id="inputEmail4">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Email</label>
        <input type="text" class="form-control" id="Email"asp-for="Email">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" asp-for="Address" placeholder="">
    </div>
    <div class="col-12">
        <label class="form-check-label" for="inlineCheckbox1">Gender :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" value="Male" asp-for="Gender">
            <label class="form-check-label" for="inlineCheckbox1">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="Female" asp-for="Gender">
            <label class="form-check-label" for="inlineCheckbox2">Female</label>
        </div>

    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Phone NO:</label>
        <input type="number" class="form-control" asp-for="Phone" id="inputCity">
    </div>

    <div class="col-md-6">
        <label for="inputZip" class="form-label">DOB:</label>
        <input type="Date" class="form-control" id="inputdate" asp-for="Dob" >
    </div>
    <div class="col-12">
        <label>Academic Details</label>
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Faculty:</label>
        <select class="form-select" aria-label="Default select example" asp-for="Faculty">
            <option value="BCA">BCA</option>
            <option value="BBA">BBA</option>
            <option value="BIM">BIM</option>
            <option value="BBS">BBS</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Semester:</label>
        <select class="form-select" aria-label="Default select example" asp-for="Semester">
            <option value="1">1 semester</option>
            <option value="2">2 semester</option>
            <option value="3">3 semester</option>
            <option value="4">4 semester</option>
            <option value="5">5 semester</option>
            <option value="6">6 semester</option>
            <option value="7">7 semester</option>
            <option value="8">8 semester</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Enrollment Date</label>
        <input type="date" class="form-control" asp-for="Eroll" id="inputEmail4" required>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Reg no:</label>
        <input type="text" class="form-control" id="Email" asp-for="Reg">
    </div>
   
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Upload Image</label>
        <input class="form-control form-control-sm" id="formFileSm" asp-for="Image" type="file">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>